// Declarations

$greyBoxShadow: inset 0 1.5px 3px 1px rgba(0,0,0,.25), 0 1.5px 3px 2px rgba(0,0,0,.25);
$primary: #039be5;

// Page

.app-portfolio {
    display: grid;
    grid-template-columns: 99%;
    justify-content: space-around;
}

.app-portfolio .portfolio-card {
    animation: fade-in 0.5s linear;
}

.portfolio-display .slide {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 650px;
}

.portfolio-display .slide img {
    max-height: 600px;
    box-shadow: $greyBoxShadow;
    margin-bottom: 5px;
}

.portfolio-display .slide .image-set {
    display: grid;
    grid-template-columns: auto auto;
    width: 68vw;
}

.portfolio-display button {
    background-color: $primary;
    color: white;
    width: 150px;
}

.portfolio-display button:hover {
    background-color: $primary;
}

.portfolio-display div {
    background-color: white;
}

.app-portfolio .portfolio-display .MuiMobileStepper-dot {
    background-color: $primary;
}

.app-portfolio .portfolio-display .MuiMobileStepper-dot.MuiMobileStepper-dotActive {
    background-color: blue;
}

// Animation

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
