.app {
  text-align: center;
  overflow-x: hidden;
  min-height: 100vh;
}

.app-with-menu {
  display: grid;
  grid-template-areas:
    'header header'
    'menu main';
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 15vh 85vh;
  grid-gap: 0;
}

.app-without-menu {
  display: grid;
  grid-template-areas:
    'header'
    'main';
  grid-template-columns: auto;
  grid-template-rows: 15vh 85vh;
  grid-gap: 0;
}

.app-header {
  background-color: #00914c;
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header .MuiAppBar-root {
  height: 100%;
  background-color: #00914c;
}

.app-header.home .MuiAppBar-root {
  background-color: #00914c;
}

.app-header.xkcd .MuiAppBar-root {
  background-color: #96A8C8;
}

.app-header h1 {
  margin: 25px auto;
}

.app-header button {
  position: absolute;
  left: 5vw; 
  padding: 20px 20px;
  border: 0;
}

.app-header button i {
  color: white;
  font-size: calc(10px + 3vmin);
}

.app-main {
  grid-area: main;
}

.app-menu {
  grid-area: menu;
  box-shadow: 0 1.5px 3px 2px rgba(89,22,217,.5);
}

.app-menu .close-menu-fab {
  left: 10vw;
  bottom: 5vw;
  background-color: #5616d9;
  box-shadow: 0 1px 2px 1px rgba(89,22,217,.5);
  color: white;
  z-index: 999;
}

.app-menu .close-menu-fab:hover {
  background-color: #621bdf;
}

.app-link {
  color: #61dafb;
}

.loading-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-logo {
    animation: loading-logo-spin infinite 20s linear;
  }
}

@keyframes loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
